NODE_ENV=local
PORT=3000
HOST=127.0.0.1

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306

MARIADB_DATABASE=food_nutrition
MARIADB_USER=food_app
MARIADB_PASSWORD=local_food_password
MARIADB_ROOT_PASSWORD=local_root_password

# 실제 운영에서는 example에서 빼야 하는 값
ADMIN_API_KEY=ce04bc178c8183bc740717929be157c2180725d0737e84190fb2f31665970a97
LOG_LEVEL=info # winston 로그 레벨 : error > warn >  info > debug

